@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<address>
    213 N Main<br />
    Evergreen, AL<br />
    <abbr title="Phone"></abbr>
    256-343-6897
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">devin.a.salemi@gmail.com</a><br />

</address>